<nav class="navbar">
    <div class="container row row--navbar">
        <div class="column navbar__left">
            {% assign mypages = site.pages | sort: "order" %}
            {% for item in mypages %}
                {% if item.title %}
                    <a href="{{ item.url | relative_url }}">
                        {{ item.title }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="column navbar__right">
            <a href="/assets/files/kristel-fung-resume.pdf">
                <span class="icon-cv"></span>
            </a>
            <a href="https://www.linkedin.com/in/{{site.linkedin_username}}/">
                <span class="icon-linkedin2"></span>
            </a>
            <a href="https://www.behance.net/{{site.behance_username}}/">
                <span class="icon-behance2"></span>
            </a>
            <a href="https://github.com/{{site.github_username}}/">
                <span class="icon-github"></span>
            </a>
            <a href="mailto:{{site.email}}">
                <span class="icon-mail4"></span>
            </a>
        </div>
    </div>
</nav>