<nav class="navbar">
    <div class="row container row--navbar">
        <div class="column navbar__right">
            {% assign mypages = site.pages | sort: "order" %}
            <ul>
                {% for item in mypages %}
                    {% if item.title %}
                        <li>
                            <a href="{{ item.url | relative_url }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="column navbar__left">
            <ul>
                <li class="navbar__logo">
                    <a href="https://www.linkedin.com/in/kristel-fung-4ba37635/">
                        <span class="icon-linkedin"></span>
                    </a>
                </li>
                <li class="navbar__logo">
                    <a href="">
                        <span class="icon-github"></span>
                    </a>
                </li>
                <li class="navbar__logo">
                    <a href="">
                        <span class="icon-mail4"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>