.blog-excerpt {
    margin-top: 0.5rem;
}

.row--posts {
    align-items: center;

    .column {
        padding: 1rem;
    }
}

.column--blog-title {
    flex: 70%;
}

.column--blog-thumbnail {
    flex: 30%;
}

.blog-thumbnail {
    width: 100%;
}

.blog-tag {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}

.Story {
    background-color: $tag-green;
}

.Personal {
    background-color: $tag-blue;
}

.Programming {
    background-color: $tag-purple;
}