.post-collection, .blog-item {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.post-collection { /* <ul> */
    margin: 0;
}

.blog-item { /* <li> */
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
        display: block;
        padding: 2rem;
    }
}

.column--blog-text {
    flex: 70%;
}

.column--blog-thumbnail {
    flex: 30%;
}