.hero {
    margin-bottom: 3rem;
}

@media screen and (max-width: $mobile-max) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: $mobile-max) {
    .mobile {
        display: none;
    }
}
