.row--navbar {
    align-items: center;
}

.navbar {
    text-transform: uppercase;
    padding: 2.2rem 0rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }
}

.navbar-right {
    li a {
        text-decoration: none;
        display: block;
        padding-right: 2rem;
        color: black;
    }
    a:visited {
        color: black;
    }
    a:hover {
        color: lighten(black, 60%);
    }
}

.navbar-left {
    ul {
        float: right;
    }

    li {
        margin-left: 1rem;
        font-size: 2rem;
    }
}