.navbar {
    text-transform: uppercase;
    padding: 2.2rem 0rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        text-decoration: none;
        display: block;
        padding-right: 2rem;
        color: black;
    }
    a:visited {
        color: black;
    }
    a:hover {
        color: lighten(black, 60%);
    }
}