.navbar {
    padding: 1rem 0rem;

    a {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: black;
    }
    a:hover {
        color: lighten(black, 60%);
    }
}

.row--navbar {
    align-items: stretch;
}

.navbar__left {
    font-size: 1.4rem;
    text-transform: uppercase;
    display: flex; // only desktop
    align-items: center;
    justify-content: flex-start;

    a {
        margin: 0.75rem;
    }
}

.navbar__right {
    font-size: 2rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        margin: 0.5rem;
    }
}

.navbar__logo {
    a, a:visited {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: lighten(black, 60%);
    }
}

// mobile tweaks
@media screen and (max-width: $mobile-max) {
    .navbar {
        padding: 0;
    }

    .navbar__left {
        justify-content: center;

        a:nth-child(1) {
            margin-left: 0.75rem;
        }
    }

    .navbar__right {
        justify-content: center;

        a:nth-last-child(1) {
            margin-right: 0.5rem;
        }
    }
}