---
layout: default
---
{%- include banner.html -%}
<div class="container--small">
  <ul class="post-collection">
    {% assign sorted = (site.posts | sort: 'date') | reverse %}
    {% for post in sorted %}
      <li class="post-item post-item--full-outline">
        <a href="{{ post.url }}" class="blog-link">
        <div class="row row--posts">
          <div class="column column--blog-title">
              <h3 class="post-title">{{ post.title }}</h3>
              <h5 class="post-date">{{ post.date | date: "%B %-d, %Y" }}</h5>
              <p class="blog-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</p>
              <span class="blog-tag {{ post.category }}">{{ post.category }}</span>
          </div>
          <div class="column column--blog-thumbnail">
              <img src="{{ post.thumbnail | relative_url }}" class="blog-thumbnail" />
          </div>
        </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{{ content }}