---
layout: default
---
{%- include banner.html -%}
<div class="container--small">
  <ul class="post-collection">
    {% for post in site.posts %}
      <li class="blog-item">
        <div class="row">
          <div class="column column--blog-title">
            <a href="{{ post.url }}">
              <h3 class="blog-title">{{ post.title }}</h3>
              <p class="blog-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</p>
              <span class="blog-tag">{{ post.category }}</span>
            </a>
          </div>
          <div class="column column--blog-thumbnail">
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{{ content }}