---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    {%- include head.html -%}
    <body>
        <script>
            document.body.className = 'fade';
        </script>
        <div class="mobile">
            <div class="row row--mobile">
                <div class="column column--mobile-txt">
                    <h4>Please expand your window!</h4>
                    <h4>Or continue to the <a href="">mobile site</a>.</h4>
                </div>
                <div class="column column--mobile-img">
                    <img src="{{ "/images/too-small.svg" | relative_url }}" class="mobile-img"/>
                </div>
            </div>
        </div>
        <div class="desktop">
            {%- include navbar.html -%}
            <div class="container">
                {{ content }}
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function(e) {
                document.body.className = '';
            });
        </script>
    </body>
</html>