---
layout: default
---
{%- include banner.html -%}
<div class="container--small">
    <ul class="post-collection">
    {% for project in site.projects %}
      <li class="post-item">
        <div class="row">
          <div class="column">
              <h3 class="blog-title">{{ project.title }}</h3>
              <h5 class="blog-date">{{ project.date_created }}</h5>
              <p>{{ project.content }}</p>
          </div>
          <div class="column">
              <img src="{{ post.thumbnail | relative_url }}" class="blog-thumbnail" />
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
</div>
{{content}}