---
layout: default
---
{%- include banner.html -%}
<div class="container--small">
    <ul class="post-collection">
    {% assign sorted = (site.projects | sort: 'date_created') %}
    {% for project in sorted %}
      <li class="post-item">
        <div class="row row--project">
            <div class="column column--project-thumbnail" style="background-image: url({{ project.thumbnail | relative_url }})">
            </div>
            <div class="column column--project-desc">
                <h3 class="post-title">
                    {{ project.title }}
                    {% if project.link %}
                        <a href="{{ project.link }}" class="icon-link">
                            <span class="icon-new-tab"></span>
                        </a>
                    {% endif %}
                    {% if project.github %}
                        <a href="{{ project.github }}" class="icon-link">
                            <span class="icon-github"></span>
                        </a>
                    {% endif %}
                </h3>
                <h5 class="post-date">{{ project.date_created }}</h5>
                {% for tool in project.tools %}
                    <span class="tool-label {{tool | replace:'/', '' | replace:'.', ''}}">{{ tool }}</span>
                {% endfor %}
                <p>{{ project.content }}</p>
            </div>
        </div>
      </li>
    {% endfor %}
    </ul>
</div>
{{content}}