@font-face {
    font-family: 'Caroni';
    src: url(../../assets/fonts/Caroni-Regular.otf);
}

body {
    font-size: 62.5%;
    font-family: 'Caroni', Helvetica;
    background-image: url(../../images/bullet.png);
}

.container {
    max-width: $medium;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container--small {
    max-width: $small;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p, a {
    font-size: 1.4rem;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}