// if browser is shrunk too much
.mobile {
    display: none;
}

@media (max-width: $small) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

.row--mobile {
    align-items: center;
    padding-top: calc(0.15*100vh);
}

.column--mobile-img {
    max-width: 9rem;
}

.column--mobile-txt {
    text-align: center;
    padding: 1rem;
}

// the actual mobile site
.row--mobile-site {
    height: 100vh;
    align-items: center;
    max-width: 30rem;
    margin: 0 auto;
}

.column--mobile-content {
    padding: 1rem;
}

.mobile-image {
    max-height: 10rem;
}