// post type items - found in projects and blog
.post-collection {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.post-item { /* <li> */
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-item--full-outline {
    border: 0.1rem solid black;
}

.post-title, .post-date {
    margin-bottom: 0.5rem;
}